<h1>Login</h1>
<% if flash[:notice] %>
<div class="error">
  <%= flash[:notice] %>
</div>
<% end %>
<%= form_for(:session, url: login_path) do |f| %>
<%= f.email_field :email, :placeholder => "Email" %>
<%= f.password_field :password, :placeholder => "Password" %>
<%= f.submit "Log in" %>
<% end %>
