<h1>Hi, <%= @user.full_name %>!</h1>
  <%= link_to 'New Project', new_project_path %>
<% @user.projects.each do |project| %>
<div class = "project">

  <h3><%= link_to(project.title, project_path(project)) %> </h3>
  <p><%= project.description %> </p>
  <p> <%= link_to('edit', edit_project_path(project)) %></p>
  <p> <%= link_to('destroy', project_path(project), :method => :delete) %></p>
</div>
<% end %>
