<%= form_for @project do |f| %>

<% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :repo %>
    <%= f.text_field :repo %>
  </p>

  <p>

  <%= f.label :url %>
  <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :img %>
    <%=f.text_field :img %>

  </p>
  <p>
    <%= f.label :collab %>
    <%=f.text_field :collab %>
    <span>Separate collaborators with commas (,)</span>
<p>

  <%= f.label :cohort %>
  <%= f.text_field :cohort %>
  <span>Type a number...not something else</span>
</p>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
