<!DOCTYPE html>
<html>

<head>
  <title>Wynflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Rajdhani:400,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>
  <div>
    <nav>
      <div class="logo">
        <%= link_to("WYNFLOW", projects_path) %>
      </div>
      <% if current_user %>
        <img src="http://www.gravatar.com/avatar/<%= current_user.get_email_hash %>">
        <span><%= "Hello, " + current_user.full_name + "!" %></span>
        <% end %>
        <div class="main-menu">
          <ul>
            <li>
              <%= link_to 'Most Popular', projects_path %>
            </li>
            <li>
              <%= link_to 'Latest', projects_path + '/date' %>
            </li>
          </ul>
        </div>
        <div class="account">
          <% if current_user %>
            <%= link_to("My Profile", user_path(current_user), class: 'profile') %>
            <%=link_to "Log out", logout_path, method: "delete", class: 'logout' %>
              <% else %>
                <a href="/login" class="login">Login</a>
                <a href="/signup" class="signup">Signup</a>
                <% end %>
                  </ul>
        </div>
    </nav>
    <main>
      <header>
        <h1>
          <span class='bracket'>&lt;</span>
          <span class='w'>W</span>
          <span class='bracket'>&gt;</span>
        </h1>
        <p>Wyncode is Florida’s premier full-stack web development bootcamp, one of the first fully-licensed programs of it’s kind. In 9 weeks, students immerse themselves in a project-based learning environment. Here are some of the projects Wyncoders have
          built during their experience at Wyncode:</p>
      </header>

      <%= yield %>

    </main>
  </div>
</body>

</html>
