<!DOCTYPE html>
<html>

<head>
  <title>Wynflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Rajdhani:400,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>
  <div>
    <nav>
      <div class="logo">
        <%= link_to("WYNFLOW", projects_path) %>
      </div>
      <%= "hi! " + current_user.full_name if current_user%>
        <div class="main-menu">
          <ul>
            <li>
              <%= link_to 'Hot', projects_path %>
            </li>
            <li>
              <%= link_to 'New', projects_path + '/date' %>
            </li>
            <% if current_user %>
              <li>
                <%= link_to("My Profile", user_path(current_user)) %>
              </li>
              <% end %>
          </ul>
        </div>
        <div class="account">
          <% if current_user %>
            <%=link_to "Log out", logout_path, method: "delete", class: 'logout' %>
              <% else %>
                <a href="/login" class="login">Login</a>
                <a href="/signup" class="signup">Signup</a>
                <% end %>
                  </ul>
        </div>
    </nav>
    <main>
      <header>
        <h1>
          <span class='bracket'>&lt;</span>
          <span class='w'>W</span>
          <span class='bracket'>&gt;</span>
        </h1>
        <p>Wyncode is Florida’s premier full-stack web development bootcamp, one of the first fully-licensed programs of it’s kind. In 9 weeks, students immerse themselves in a project-based learning environment. Here are some of the projects Wyncoders have
          built during their experience at Wyncode:</p>
      </header>

      <%= yield %>

    </main>
  </div>
</body>

</html>
