<!DOCTYPE html>
<html>
<head>
  <title>Wynflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<% if current_user %>
<%=link_to "Log out", logout_path, method: "delete" %>
<% else %>
<%= link_to "Login", 'login' %>
<%= link_to "Signup", 'signup' %>
<% end %>

</body>
</html>
